<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
# Find and count the duplicate rows in the DataFrame
num_duplicate_rows = df[df.duplicated()].shape[0]
print("Number of Duplicate Rows:", num_duplicate_rows)

Number of Duplicate Rows: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# your code goes here
# Remove duplicate rows from the DataFrame
df_no_duplicates = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [5]:
# your code goes here
# Get the shape of the original DataFrame
original_shape = df.shape

# Get the shape of the DataFrame after removing duplicates
shape_after_dropping_duplicates = df_no_duplicates.shape

# Compare the shapes
if original_shape == shape_after_dropping_duplicates:
    print("No duplicates were dropped.")
else:
    print("Duplicates were successfully dropped.")

Duplicates were successfully dropped.

## Finding Missing values

Find the missing values for all columns.

In [6]:
# your code goes here
# Find missing values for all columns and calculate the count of missing values
missing_values = df.isna().sum()

# Print the result
print("Missing Values in Each Column:")
print(missing_values)

Missing Values in Each Column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [7]:
# your code goes here
# Find missing values in the 'WorkLoc' column and calculate the count of missing values
missing_workloc = df['WorkLoc'].isna().sum()

# Print the result
print("Number of Missing 'WorkLoc' Values:", missing_workloc)

Number of Missing 'WorkLoc' Values: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [8]:
# your code goes here
# Get the value counts for the 'WorkLoc' column
workloc_value_counts = df['WorkLoc'].value_counts()

# Print the result
print("Value Counts for 'WorkLoc' column:")
print(workloc_value_counts)

Value Counts for 'WorkLoc' column:
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [9]:
#make a note of the majority value here, for future reference

# Identify the most frequent value
most_frequent_workloc = workloc_value_counts.index[0]

# Print the result
print("Most Frequent Work Location:", most_frequent_workloc)

Most Frequent Work Location: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [10]:
# your code goes here
# Replace empty rows in the 'WorkLoc' column with 'Office'
df['WorkLoc'].fillna('Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [11]:
# your code goes here
# Check for missing values in the 'WorkLoc' column after imputing
missing_workloc_after_imputing = df['WorkLoc'].isna().sum()

# Print the result
if missing_workloc_after_imputing == 0:
    print("Imputing was successful. No missing values in 'WorkLoc' column.")
else:
    print("Imputing was not successful. There are still missing values in 'WorkLoc' column.")

Imputing was successful. No missing values in 'WorkLoc' column.

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [13]:
# your code goes here
    
# Get the unique categories in the 'CompFreq' column
compfreq_categories = df['CompFreq'].unique()

# Print the result
print("Categories in the 'CompFreq' column:")
for category in compfreq_categories:
    print(category)

Categories in the 'CompFreq' column:
Yearly
Monthly
Weekly
nan

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [14]:
# your code goes here
# Define a function to convert compensation values to annual basis
def convert_to_annual(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return row['CompTotal']  # For cases where CompFreq is not specified

# Apply the function to create the 'NormalizedAnnualCompensation' column
df['NormalizedAnnualCompensation'] = df.apply(convert_to_annual, axis=1)

# Display the first few rows of the DataFrame to verify the new column
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head())

  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).